<body>
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form action="">
                <div class="input-group">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="emailTh">Email</th>
                            <th scope="col" class="emailConf">Email conf.</th>
                            <th scope="col" class="phone">Phone</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users;index as i" class="userItem" routerLink="../user/{{user.id}}">
                            <th scope="row">{{i+1}}</th>
                            <td>
                              <div *ngIf="user.id !=''" class="container1">
                                <img class="image" *ngIf="user.imagePath;else other" src="{{user.imagePath}}" alt="">
                                <ng-template #other>
                                    <img class="image" src="../../../../assets/user.png" alt="aa">
                                </ng-template>
                            </div>
                            </td>
                            <td>{{user.name}}</td>
                            <td class="emailTh">{{user.email}}</td>
                            <td *ngIf="user.emailConfirmed" class="emailConf">Yes</td>
                            <td *ngIf="!user.emailConfirmed" class="emailConf">No</td>
                            <td class="phone">{{user.phoneNumber}}</td>
                            <td><i click-stop-propagation (click)="deleteItem(user.id)" class="bi bi-trash3-fill" style="color: brown;font-size: 25px;"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </form>
        </div>

    </div>
</body>

