$headerheight : 60px;
$songHeight: 90px;
body{
  min-height: calc(100vh - $headerheight - $songHeight);
  padding: 20px;
}
.bi{
    color: red;
}
.message{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.imgProfile{
    border-radius: 50%;
}
.input-group{
    margin-top: 20px;
}
.info{
    padding-left: 10px;
}
.info p{
    font-size: large;
    font-weight: 500;
    margin: 0;
}
.info label{
    margin: 0;
}
.trash{
    position: absolute;
    right: 5px;
    top: 0px;
    color: brown;
    font-size: 20px;
}
