<nav class="navb" >
  <div  style="background-color: #0ef;;display: flex;justify-content: center;padding: 10px;height: 60px;">
    <form class="d-flex input-group w-auto" style="background-color: rgb(255, 255, 255);width: 40%;">
      <input
        type="search"
        class="form-control "
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav>