$headerheight : 60px;
$songHeight: 90px;
.main{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: calc(100vh - $headerheight);
    
    background-color: #16213b;
}
.rowElements{
    display: flex;
    flex-direction: row;
}
.title{
    font-size: larger;
    color: beige;
    font-weight: 600;
    padding-left: 30px;
}