<div class="main" >
   <p class="title">Artists:</p>
   <div class="rowElements">
      <div *ngFor="let item of artists">
         <app-artist [currentItem]="item">
         </app-artist>
      </div>
   </div>
   <p class="title">Albums</p>
   <div class="rowElements">
      <div *ngFor="let item of albums">
         <app-album [currentItem]="item">
         </app-album>
      </div>
   </div>

   <p class="title">Songs</p>
   <div class="rowElements">7
      <div *ngFor="let item of songs">
         <app-song [currentItem]="item">
         </app-song>
      </div>
   </div>
</div>