<body>
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form action="">
                <h1>{{currentUser?.name}}</h1>
                
                <div class="input-group">
                    <label>Email: {{currentUser?.email}}</label>
                </div>
                <div class="input-group">
                    <label *ngIf="currentUser?.emailConfirmed">Confirmed email: Yes</label>
                    <label class="profile" *ngIf="currentUser?.emailConfirmed;else other">{{currentUser?.emailConfirmed}}</label>
                    <ng-template #other>
                        <label>Confirmed email: No</label>
                    </ng-template>
                </div>
                <div class="input-group">
                    <label>phoneNumber: {{currentUser?.phoneNumber}}</label>
                </div>
                <button class="btn btn-primary" routerLink="edit">Edit</button>
            </form>
        </div>
    </div>
</body>