<head>
  <!-- Box icons for CSS-->>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<!--
<li class="search-box" #searchBox (click)="searchBtnClickEvent()">
          <i class='bx bx-search icon'></i>
          <input type="text" placeholder="Search...">
        </li>
-->


<div #body class="body dark">
  <nav #nav class="sidebar ">
    <header>
      <div class="image-text">
        <span class="image">
          <!--<img src="logo.png" alt="">-->
        </span>
        <div class="text logo-text">
          <span class="name">Remix</span>
        </div>
      </div>
      <i class='bx bx-chevron-right toggle' #toggle (click)="toggleClickEvent()"></i>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li *ngIf="!isLogged" class="nav-link">
            <a routerLink="/login">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Login</span>
            </a>
          </li>
          <li *ngIf="!isLogged" class="nav-link">
            <a routerLink="/register">
              <i class='bx bx-bar-chart-alt-2 icon'></i>
              <span class="text nav-text">Register</span>
            </a>
          </li>
          <li *ngIf="isLogged" class="nav-link">
            <a routerLink="/user/edit">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Profile</span>
            </a>
          </li>
          <li *ngIf="isLogged" class="nav-link">
            <a href="#">
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">Playlists</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#">
              <i class='bx bx-bell icon'></i>
              <span class="text nav-text">Artists</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#">
              <i class='bx bx-pie-chart-alt icon'></i>
              <span class="text nav-text">Trending</span>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="isLogged" class="bottom-content">
        <li class="">
          <a href="#">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
        <!--
        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text" #modeText>Dark mode</span>
          <div class="toggle-switch" #toggleSwitch (click)="modeSwitchClickEvent()">
            <span class="switch"></span>
          </div>
        </li>
      -->
      </div>
    </div>
  </nav>
</div>